* {
  color: #3a3a3c;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  /* background-color: #f3f3f7; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.game-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  text-align: center;
  width: 500px;
  text-decoration: underline;
  padding: 0px;
}

.tile-container {
  width: 300px;
  margin-bottom: 30px;
}

.key-container {
  width: 510px;
  display: flex;
  flex-wrap: wrap;
}

.key-container button {
  width: 43px;
  height: 58px;
  border-radius: 4px;
  border: none;
  background-color: #9d9da3;
  margin: 5px 6px 0 2px;
  font-weight: bold;
  font-size: 18px;
}

.key-container button:nth-child(11) {
  margin-left: 22px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
  width: 60px;
  margin-left: 2px;
}

.tile-container div {
  display: flex;
  margin-top: 5px;
}

.tile-container .tile {
  width: 62px;
  height: 62px;
  border: 2px solid #3a3a3c;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.message-container {
  height: 30px;
}

.message-container p {
  background-color: #9d9da3;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
}

.tile.flip {
  animation: 0.5s linear tileflip;
}

@keyframes tileflip {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(-80deg);
  }
  100% {
    transform: rotateX(0);
  }
}

/* @keyframes winnerCheer {
  0%,
  20% {
    transform: rotateX(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: rotateX(5px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: rotateY(0);
  }
} */

.yellow {
  background-color: #eeeb54 !important;
  border: none !important;
}

.grey {
  background-color: #cbcbd4 !important;
  border: none !important;
}

.green {
  background-color: #4ecc43 !important;
  border: none !important;
}
